<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | Open Cultivar</title>
  <link rel="stylesheet" href="/css/style.css">

  <!-- Netlify Identity Widget -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>

  <header>
    <nav>
      <a href="/"><img src="/images/open-cultivar-logo.png" alt="Open Cultivar Logo" style="height: 80px;"></a>
      <ul class="nav-links">
        <li><a href="/species/">Species</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    <p>&copy; {{ now.Year }} Open Cultivar | Contributors are welcome! <a
        href="https://github.com/eliotk/open-cultivar">Github Repository</a></p>
  </footer>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

</body>

</html>